style.css*
css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
    font-family: 'Segoe UI', sans-serif;
    background: linear-gradient(to right, #00c6ff, #0072ff);
    color: #333;
    padding: 2rem;
    max-width: 600px;
    margin: auto;
  }
header {
  background: #222;
  color: #fff;
  padding: 2rem;
  text-align: center;
}
nav {
  background: #333;
  text-align: center;
}
nav a {
  color: #fff;
  display: inline-block;
  padding: 1rem;
  text-decoration: none;
}
nav a:hover {
  background: #444;
}
section {
  padding: 2rem;
}
.project {
  background: #0ad0f3;
  padding: 1rem;
  margin-bottom: 1rem;
  border-radius: 5px;
}
footer {
  background: none;
  color: #fff;
  text-align: right;
  padding: 1rem;
  position: fixed;
  bottom: 0;
  width: 100%;

}
a:link, a:visited {
    background-color: #4936f4;
    color: white;
    padding: 14px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}


a:hover, a:active {
    background-color: rgb(37, 4, 90);
}